.slide-reveal.ng-enter {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;

    /*opacity:0.5;*/
    position: relative;
    opacity: 0;
    top: 10px;
}

.slide-reveal.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
}

.base-class {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.active {
    font-size: 1.2em;
}

.base-class.active a {
    color: #254c71;
    font-weight: bold;
}
