html, body {
    height: 100%;
    /*font-family: Verdana, Arial, Tahoma;*/
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif", sans-serif;
}

body {
    padding-top: 50px;
}

#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

#footer {
    background-color: #F5F5F5;
    height: 60px;
}

#wrap > .container {
    padding: 0 15px 0;
}

.container .credit {
    margin: 15px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

#masthead {
    min-height: 120px;
    //background-color: #000044;
    background-color: #111155;
    color: #aaaacc;
}

#masthead h1 {
    font-size: 30px;
    line-height: 1;
}

#masthead #contacts {
    margin-top: 5px;
    margin-left: 5px;
    background-color: #aaaacc;
    color: #000033;
    border-color: #111155;
    border-radius: 6px;
}

.icon-bar {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 45px;
    }
}

.navbar-bright {
    background-color: #111155;
    color: #fff;
}

.navbar-bright a, #masthead a {
    color: #111155;
}

#masthead .lead {
    color: #aaaacc;
}

#contacts, #contacts > a {
    /*background-color: #aaaacc;*/
    color: #000033;
}

.navbar-bright li > a:hover {
    background-color: #000033;
}

.affix-top, .affix {
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 10px;
        width: 165px;
    }

    #sidebar.affix {
        position: fixed;
        top: 140px;
        width: 165px;
    }
}

#sidebar li.active {
    border: 0 #eee solid;
    border-right-width: 4px;
}

#leftCol {
    margin-top: 100px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.f16 {
    font-size: 16pt;
}

.f10 {
    font-size: 10pt;
}

.f9 {
    font-size: 9pt;
}

.f8 {
    font-size: 8pt;
}

