<h1>Подогреватели пароводяные ПП систем теплоснабжения</h1>

<p style="font-size: 16pt;">
    Водоподогреватель пароводявой ПП систем теплоснабжения (ГОСТ 28679-90)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Водоподогреватели пароводяные применяются в системах теплоснабжения, работающих в температурных
    режимах 150-70, 130-70, 95-70 и служат для нагрева сетевой воды паром для использования ее в
    системах отопления и горячего водоснабжения зданий различного назначения.</p>

<div><img style="width: 330px; height: 223px;" src="images/dynamic/clip_image001_gif.png"
          alt="пароводяной подогреватель">
</div>


<p>Основные параметры и технические характеристики</p>
<div>
    <table class="table table-striped f9">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>S поверх-ностити нагрева, м<sup>2</sup></th>
            <th>Тепло-производи-тельность номиналь-ная , Гкал/час</th>
            <th>Расход воды номи-наль-ный , т/ч</th>
            <th>Число ходов</th>
            <th>Давление греющего пара, МПа (кгс/см<sup>2</sup>)</th>
            <th>
                <span style="font-family: Symbol,sans-serif;">&#198;</span>
                <br>
                корпуса, мм
            </th>
            <th>Длина корпуса L, мм</th>
            <th>Длина трубок, мм</th>
            <th>Кол-во трубок, шт.</th>
            <th>Масса подогрева-теля, кг</th>
            <th>Масса трубной системы (пучек), кг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ПП 2-6-2-II</td>
            <td>6,3</td>
            <td>0,583</td>
            <td>29,2</td>
            <td>2</td>
            <td>0,2 (2)</td>
            <td>325</td>
            <td>2606</td>
            <td>2000</td>
            <td>68</td>
            <td>390</td>
            <td>82</td>
        </tr>
        <tr>
            <td>ПП 2-9-7-II</td>
            <td> 9,5</td>
            <td>1,63</td>
            <td>32,4</td>
            <td>2</td>
            <td>0,7 (7)</td>
            <td>325</td>
            <td>3606</td>
            <td>3000</td>
            <td>68</td>
            <td>485</td>
            <td>115</td>
        </tr>
        <tr>
            <td>ПП 2-9-7-IV</td>
            <td>9,5</td>
            <td>1,13</td>
            <td>16,1</td>
            <td>4</td>
            <td>0,7 (7)</td>
            <td>325</td>
            <td>3606</td>
            <td>3000</td>
            <td>68</td>
            <td>485</td>
            <td>115</td>
        </tr>
        <tr>
            <td>ПП 2-11-2-II</td>
            <td>11,4</td>
            <td>1,07</td>
            <td>53,4</td>
            <td>2</td>
            <td>0,2 (2)</td>
            <td>426</td>
            <td>2650</td>
            <td>2000</td>
            <td>124</td>
            <td>600</td>
            <td>157</td>
        </tr>
        <tr>
            <td>ПП 2-17-7-II</td>
            <td>17,2</td>
            <td>2,98</td>
            <td>69</td>
            <td>2</td>
            <td>0,7 (7)</td>
            <td>426</td>
            <td>3650</td>
            <td>3000</td>
            <td>124</td>
            <td>730</td>
            <td>215</td>
        </tr>
        <tr>
            <td>ПП 2-17-7-IV</td>
            <td>17,2</td>
            <td>2,08</td>
            <td>29,4</td>
            <td>4</td>
            <td>0,7 (7)</td>
            <td>426</td>
            <td>3650</td>
            <td>3000</td>
            <td>124</td>
            <td>730</td>
            <td>215</td>
        </tr>
        <tr>
            <td>ПП 2-16-2-II</td>
            <td>16,0</td>
            <td>1,52</td>
            <td>76</td>
            <td>2</td>
            <td>0,2 (2)</td>
            <td>480</td>
            <td>2650</td>
            <td>2000</td>
            <td>176</td>
            <td>755</td>
            <td>219</td>
        </tr>
        <tr>
            <td>ПП 2-24-7-II</td>
            <td>24,4</td>
            <td>4,22</td>
            <td>83,5</td>
            <td>2</td>
            <td>0,7 (7)</td>
            <td>480</td>
            <td>3830</td>
            <td>3000</td>
            <td>176</td>
            <td>931</td>
            <td>299</td>
        </tr>
        <tr>
            <td>ПП 2-24-7-IV</td>
            <td> 24,4</td>
            <td>2,12%</td>
            <td>41,7</td>
            <td>4</td>
            <td>0,7 (7)</td>
            <td>480</td>
            <td>3830</td>
            <td>3000</td>
            <td>176</td>
            <td>931</td>
            <td>299</td>
        </tr>
        <tr>
            <td>ПП 1-21-2-II</td>
            <td>21,2</td>
            <td>1,99</td>
            <td>103,5</td>
            <td>2</td>
            <td>0,2 (2)</td>
            <td>530</td>
            <td>2785</td>
            <td>2000</td>
            <td>232</td>
            <td>900</td>
            <td>284</td>
        </tr>
        <tr>
            <td>ПП 1-32-7-II</td>
            <td>32,0</td>
            <td>5,57</td>
            <td>110,5</td>
            <td>2</td>
            <td>0,7 (7)</td>
            <td>530</td>
            <td>3785</td>
            <td>3000</td>
            <td>232</td>
            <td>1090</td>
            <td>392</td>
        </tr>
        <tr>
            <td>ПП 1-32-7-IV</td>
            <td>32,0</td>
            <td>3,88</td>
            <td>55</td>
            <td>4</td>
            <td>0,7 (7)</td>
            <td>530</td>
            <td>3785</td>
            <td>3000</td>
            <td>232</td>
            <td>1090</td>
            <td>392</td>
        </tr>
        <tr>
            <td>ПП 1-35-2-II</td>
            <td>35,3</td>
            <td>3,38</td>
            <td>169</td>
            <td>2</td>
            <td>0,2 (2)</td>
            <td>630</td>
            <td>2885</td>
            <td>2000</td>
            <td>392</td>
            <td>1290</td>
            <td>481</td>
        </tr>
        <tr>
            <td>ПП 1-53-7-II</td>
            <td>53,9</td>
            <td>9,2</td>
            <td>182</td>
            <td>2</td>
            <td>0,7 (7)</td>
            <td>630</td>
            <td>3835</td>
            <td>3000</td>
            <td>392</td>
            <td>1565</td>
            <td>658</td>
        </tr>
        <tr>
            <td>ПП 1-53-7-IV</td>
            <td>53,9</td>
            <td>6,55</td>
            <td>93</td>
            <td>4</td>
            <td>0,7 (7)</td>
            <td>630</td>
            <td>3835</td>
            <td>3000</td>
            <td>392</td>
            <td>1565</td>
            <td>658</td>
        </tr>
        <tr>
            <td> ПП 1-76-7-II</td>
            <td>76,8</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>0,7 (7)</td>
            <td>720</td>
            <td>3985</td>
            <td>3000</td>
            <td>560</td>
            <td>2000</td>
            <td>927</td>
        </tr>
        <tr>
            <td>ПП 1-76-7-IV</td>
            <td>76,8</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>0,7 (7)</td>
            <td>720</td>
            <td>3985</td>
            <td>3000</td>
            <td>560</td>
            <td>2000</td>
            <td>927</td>
        </tr>
        <tr>
            <td> ПП 1-71-2-II</td>
            <td>71,0</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>0,2 (2)</td>
            <td>820</td>
            <td>3135</td>
            <td>2000</td>
            <td>792</td>
            <td>1615</td>
            <td>678</td>
        </tr>
        <tr>
            <td>ПП 1-108-7-II</td>
            <td>108,0</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>0,7 (7)</td>
            <td>820</td>
            <td>4135</td>
            <td>3000</td>
            <td>792</td>
            <td>2600</td>
            <td>1292</td>
        </tr>
        <tr>
            <td>ПП 1-108-7-IV</td>
            <td>108,0</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>0,7 (7)</td>
            <td>820</td>
            <td>4135</td>
            <td>3000</td>
            <td>792</td>
            <td>2600</td>
            <td>1292</td>
        </tr>
        </tbody>
    </table>
</div>
<br>

<p>Условное обозначение:</p>
<table class="table table-striped f9">
    <tbody>
    <tr>
        <td>ХХХ-</td>
        <td>ХХХ-</td>
        <td>Х-</td>
        <td>Х-</td>
        <td>ХХХ(ХХ)</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td colspan="5">
            <p>1 - тип подогревателя (ПП1 – подогреватель пароводяной с эллиптическими днищами, ПП2 – подогреватель
                пароводяной с плоскими днищами)<br>
                2 - площадь поверхности теплообмена, м<sup>2</sup><br>
                3 - давление греющего пара, Мпа<br>
                4 - число ходов сетевой воды, шт.<br>
                5 -вид климатического исполнения</p></td>
    </tr>
    </tbody>
</table>


<p><span style="text-decoration: underline;">Пример условного обозначения :</span></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    1. Подогреватель пароводяной с плоскими днищами, площадью поверхности теплообмена
    32,0 м<sup>2</sup>, с давлением греющего пара 0,7 (7) МПа (кгс/см<sup>2</sup>),
    двухходового по сетевой воде, климатического исполнения У4 - ПП1-32-7-II-У4</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    2. Подогреватель пароводяной с элиптическими днищами, площадью поверхности
    теплообмена 53,9 м<sup>2</sup>,с давлением греющего пара 0,7 (7) МПа
    (кгс/см<sup>2</sup>), четырехходового по сетевой воде, климатического исполнения У4 -
    ПП1-53-7-IV-У4</p>

<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="text-decoration: underline;">График для выбора типоразмера пароводяного подогревателя:</span><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Требуемый размер подогревателя определяется заданным тепловым потоком и расходом нагреваемой сетевой
    воды и температурным режимом его работы. Выбор подогревателя рекомендуется производить
    по графику зависимости теплового потока от расхода нагреваемой сетевой воды при
    нагреве ее по температурным графикам теплосети 70/150 <sup>0</sup>С, 70/130 <sup>0</sup>С,
    70/95 <sup>0</sup>С.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="text-decoration: underline;">Пример 1</span><br>
    Выбор подогревателя для температурного графика 70/150 <sup>0</sup>С
    с тепловым потоком 6 Гкал/ч (7 Мвт). <br>
    Из точки, соответствующей 6 Гкал/ч, проводим горизонтальную линию до
    пересечения с линией температурного графика 70/150 <sup>0</sup>С.
    Точке пересечения соответствует цифра 53,9 м<sup>2</sup>, что соответствует подогревателю
    ПП1-53-7-IV.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="text-decoration: underline;">Пример 2</span><br>
    Выбор подогревателя для температурного графика 70/95 <sup>0</sup>С с
    расходом нагреваемой воды 140 т/ч.<br>
    Из точки, соответствующей 140 т/ч, проводим вертикальную линию до
    пересечения с линией температурного графика 70/95 <sup>0</sup>С.
    Точке пересечения соответствует цифра 35,3 м<sup>2</sup>, что соответствует подогревателю
    ПП1-35-2-II. </p>
<br>

<p><img style="width: 256px; height: 329px;" alt="Температурный график" src="images/dynamic/clip_image003_jpg.png"
        align="left"></p>
<br>
