<h1>Подогреватели водоводяные блочного типа с блоком опорных перегородок и профильными трубками</h1>

<p style="font-size: 16pt;">
    Подогреватель водяной с блоком опорных перегородок и профильными трубками блочного типа ТУ 4933-005-05108104-99
</p>
<br>

<p><img style="width: 194px; height: 147px;" src="images/dynamic/clip_image002_jpg.png"
        alt="Подогреватель" align="left"><br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Подогреватель изготавливается из стандартных блоков 36-и типоразмеров.
    Конструктивные решения позволили включить весь объем секций в процесс теплообмена, получен
    эффективный блочный водяной подогреватель, который при одинаковой мощности (например, 0,9 мВт)
    с подогревателем, выполненным на ИИП по ГОСТу 27590, имеет: - массу в 3,5 раза меньше,
    ширину в 3,2 раза меньше, - занимаемую площадь в 3,7 раза меньше, -количество секций на 40%
    меньше, - гидравлическое сопротивление (м.в.ст.) по трубному пространству в 2,4 раза ниже.
    Конструкция подогревателя позволяет транспортировать его по узким проходам и лестницам при
    монтаже ИТП в подвалах зданий. По компактности и коэффициенту теплопередачи водяной подогреватель
    блочного типа сопоставим с пластичными теплообменниками, а по ценам - ниже последних.</p>


<p>Основные параметры и технические характеристики</p>
<br>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th rowspan="2" class="f10">№ п/п</th>
            <th rowspan="2" class="f10">Условные обозначения блока</th>
            <th rowspan="2" class="f10">Номи-<br>нальный тепловой поток, кВт</th>
            <th rowspan="2" class="f10">Поверх-<br>ность<br>нагрева, м<sup>2</sup></th>
            <th rowspan="2" class="f10">Кол-во секций, шт</th>
            <th rowspan="2" class="f10">Кол-во трубок в секции, шт</th>
            <th colspan="2" class="f10">Наружный диаметр патрубков, мм</th>
            <th rowspan="2" class="f10">Габаритные размеры<br>блока, мм<br>L x H x B</th>
            <th rowspan="2" class="f10">Масса, кг</th>
        </tr>
        <tr>
            <th class="f10">межтрубного пространства</th>
            <th class="f10">трубного пространства</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="f10">1</td>
            <td class="f8">ПВ 57х2-Р-БП-2-У3</td>
            <td class="f10">28,0</td>
            <td class="f10">0,74</td>
            <td class="f10">2</td>
            <td class="f10">4</td>
            <td class="f10">48</td>
            <td class="f10">42</td>
            <td class="f10">2078х277х160</td>
            <td class="f10">59,0</td>
        </tr>
        <tr>
            <td class="f10">2</td>
            <td class="f8">ПВ 57х2-Р-БП-3-У3</td>
            <td class="f10">38,5</td>
            <td class="f10">1,11</td>
            <td class="f10">3</td>
            <td class="f10">4</td>
            <td class="f10">48</td>
            <td class="f10">42</td>
            <td class="f10">2078х364х160</td>
            <td class="f10">82,0</td>
        </tr>
        <tr>
            <td class="f10">3</td>
            <td class="f8">ПВ 57х2-Р-БП-4-У3</td>
            <td class="f10">51,0</td>
            <td class="f10">1,48</td>
            <td class="f10">4</td>
            <td class="f10">4</td>
            <td class="f10">48</td>
            <td class="f10">42</td>
            <td class="f10">2078х451х160</td>
            <td class="f10">104,0</td>
        </tr>
        <tr>
            <td class="f10">4</td>
            <td class="f8">ПВ 57х2-Р-БП-5-У3</td>
            <td class="f10">64,0</td>
            <td class="f10">1,85</td>
            <td class="f10">5</td>
            <td class="f10">4</td>
            <td class="f10">48</td>
            <td class="f10">42</td>
            <td class="f10">2078х538х160</td>
            <td class="f10">128,6</td>
        </tr>
        <tr>
            <td class="f10">5</td>
            <td class="f8">ПВ 57х2-Р-БП-6-У3</td>
            <td class="f10">77,5</td>
            <td class="f10">2,22</td>
            <td class="f10">6</td>
            <td class="f10">4</td>
            <td class="f10">48</td>
            <td class="f10">42</td>
            <td class="f10">2078х625х160</td>
            <td class="f10">435</td>
        </tr>
        <tr>
            <td class="f10">6</td>
            <td class="f8">ПВ 76х2-Р-БП-2-УЗ</td>
            <td class="f10">45,0</td>
            <td class="f10">1,30</td>
            <td class="f10">2</td>
            <td class="f10">7</td>
            <td class="f10">57</td>
            <td class="f10">45</td>
            <td class="f10">2100х314х180</td>
            <td class="f10">80,0</td>
        </tr>
        <tr>
            <td class="f10">7</td>
            <td class="f8">ПВ 76х2-Р-БП-3-УЗ</td>
            <td class="f10">68,0</td>
            <td class="f10">1,95</td>
            <td class="f10">3</td>
            <td class="f10">7</td>
            <td class="f10">57</td>
            <td class="f10">45</td>
            <td class="f10">2100х420х180</td>
            <td class="f10">118,0</td>
        </tr>
        <tr>
            <td class="f10">8</td>
            <td class="f8">ПВ 76х2-Р-БП-4-УЗ</td>
            <td class="f10">90,0</td>
            <td class="f10">2,60</td>
            <td class="f10">4</td>
            <td class="f10">7</td>
            <td class="f10">57</td>
            <td class="f10">45</td>
            <td class="f10">2100х526х180</td>
            <td class="f10">156,0</td>
        </tr>
        <tr>
            <td class="f10">9</td>
            <td class="f8">ПВ 76х2-Р-БП-5-УЗ</td>
            <td class="f10">113,0</td>
            <td class="f10">3,25</td>
            <td class="f10">5</td>
            <td class="f10">7</td>
            <td class="f10">57</td>
            <td class="f10">45</td>
            <td class="f10">2100х632х180</td>
            <td class="f10">189,0</td>
        </tr>
        <tr>
            <td class="f10">10</td>
            <td class="f8">ПВ 76х2-Р-БП-6-УЗ</td>
            <td class="f10">136,0</td>
            <td class="f10">3,90</td>
            <td class="f10">6</td>
            <td class="f10">7</td>
            <td class="f10">57</td>
            <td class="f10">45</td>
            <td class="f10">2100х740х180</td>
            <td class="f10">220,0</td>
        </tr>
        <tr>
            <td class="f10">11</td>
            <td class="f8">ПВ 89х2-Р-БП-2-У3</td>
            <td class="f10">65,5</td>
            <td class="f10">1,89</td>
            <td class="f10">2</td>
            <td class="f10">10</td>
            <td class="f10">76</td>
            <td class="f10">57</td>
            <td class="f10">2110х344х195</td>
            <td class="f10">100,0</td>
        </tr>
        <tr>
            <td class="f10">12</td>
            <td class="f8">ПВ 89х2-Р-БП-3-У3</td>
            <td class="f10">97,5</td>
            <td class="f10">2,79</td>
            <td class="f10">3</td>
            <td class="f10">10</td>
            <td class="f10">76</td>
            <td class="f10">57</td>
            <td class="f10">2110х463х195</td>
            <td class="f10">150,0</td>
        </tr>
        <tr>
            <td class="f10">13</td>
            <td class="f8">ПВ 89х2-Р-БП-4-У3</td>
            <td class="f10">130</td>
            <td class="f10">3,72</td>
            <td class="f10">4</td>
            <td class="f10">10</td>
            <td class="f10">76</td>
            <td class="f10">57</td>
            <td class="f10">2110х582х195</td>
            <td class="f10">198,0</td>
        </tr>
        <tr>
            <td class="f10">14</td>
            <td class="f8">ПВ 89х2-Р-БП-5-У3</td>
            <td class="f10">162,5</td>
            <td class="f10">4,65</td>
            <td class="f10">5</td>
            <td class="f10">10</td>
            <td class="f10">76</td>
            <td class="f10">57</td>
            <td class="f10">2110х701х195</td>
            <td class="f10">235,0</td>
        </tr>
        <tr>
            <td class="f10">15</td>
            <td class="f8">ПВ 114х2-Р-БП-2-У3</td>
            <td class="f10">125,0</td>
            <td class="f10">3,58</td>
            <td class="f10">2</td>
            <td class="f10">19</td>
            <td class="f10">89</td>
            <td class="f10">76</td>
            <td class="f10">2135х386х215</td>
            <td class="f10">140,0</td>
        </tr>
        <tr>
            <td class="f10">16</td>
            <td class="f8">ПВ 114х2-Р-БП-3-У3</td>
            <td class="f10">187,5</td>
            <td class="f10">5,37</td>
            <td class="f10">3</td>
            <td class="f10">19</td>
            <td class="f10">89</td>
            <td class="f10">76</td>
            <td class="f10">2135х530х215</td>
            <td class="f10">210,0</td>
        </tr>
        <tr>
            <td class="f10">17</td>
            <td class="f8">ПВ 114х2-Р-БП-4-У3</td>
            <td class="f10">250,0</td>
            <td class="f10">7,16</td>
            <td class="f10">4</td>
            <td class="f10">19</td>
            <td class="f10">89</td>
            <td class="f10">76</td>
            <td class="f10">2135х676х215</td>
            <td class="f10">280,0</td>
        </tr>
        <tr>
            <td class="f10">18</td>
            <td class="f8">ПВ 114х2-Р-БП-5-У3</td>
            <td class="f10">313,0</td>
            <td class="f10">8,95</td>
            <td class="f10">5</td>
            <td class="f10">19</td>
            <td class="f10">89</td>
            <td class="f10">76</td>
            <td class="f10">2135х820х215</td>
            <td class="f10">350,0</td>
        </tr>
        <tr>
            <td class="f10">19</td>
            <td class="f8">ПВ 168х2-Р-БП-2-У3</td>
            <td class="f10">244,0</td>
            <td class="f10">6,98</td>
            <td class="f10">2</td>
            <td class="f10">37</td>
            <td class="f10">133</td>
            <td class="f10">108</td>
            <td class="f10">2190х496х280</td>
            <td class="f10">260,0</td>
        </tr>
        <tr>
            <td class="f10">20</td>
            <td class="f8">ПВ 168х2-Р-БП-3-У3</td>
            <td class="f10">366,0</td>
            <td class="f10">10,47</td>
            <td class="f10">3</td>
            <td class="f10">37</td>
            <td class="f10">133</td>
            <td class="f10">108</td>
            <td class="f10">2190х694х280</td>
            <td class="f10">390,0</td>
        </tr>
        <tr>
            <td class="f10">21</td>
            <td class="f8">ПВ 168х2-Р-БП-4-У3</td>
            <td class="f10">488,0</td>
            <td class="f10">13,96</td>
            <td class="f10">4</td>
            <td class="f10">37</td>
            <td class="f10">133</td>
            <td class="f10">108</td>
            <td class="f10">2190х890х280</td>
            <td class="f10">520,0</td>
        </tr>
        <tr>
            <td class="f10">22</td>
            <td class="f8">ПВ 168х2-Р-БП-5-У3</td>
            <td class="f10">610,0</td>
            <td class="f10">17,45</td>
            <td class="f10">5</td>
            <td class="f10">37</td>
            <td class="f10">133</td>
            <td class="f10">108</td>
            <td class="f10">2190х1090х280</td>
            <td class="f10">650,0</td>
        </tr>
        <tr>
            <td class="f10">23</td>
            <td class="f8">ПВ 168х4-Р-БП-2-У3</td>
            <td class="f10">446,0</td>
            <td class="f10">13,96</td>
            <td class="f10">2</td>
            <td class="f10">37</td>
            <td class="f10">133</td>
            <td class="f10">108</td>
            <td class="f10">4190х496х280</td>
            <td class="f10">423,0</td>
        </tr>
        <tr>
            <td class="f10">24</td>
            <td class="f8">ПВ 168х4-Р-БП-3-У3</td>
            <td class="f10">670,0</td>
            <td class="f10">20,94</td>
            <td class="f10">3</td>
            <td class="f10">37</td>
            <td class="f10">133</td>
            <td class="f10">108</td>
            <td class="f10">4190х694х280</td>
            <td class="f10">775,0</td>
        </tr>
        <tr>
            <td class="f10">25</td>
            <td class="f8">ПВ 219х2-Р-БП-2-У3</td>
            <td class="f10">402,0</td>
            <td class="f10">11,50</td>
            <td class="f10">2</td>
            <td class="f10">61</td>
            <td class="f10">159</td>
            <td class="f10">133</td>
            <td class="f10">2220х654х335</td>
            <td class="f10">406,0</td>
        </tr>
        <tr>
            <td class="f10">26</td>
            <td class="f8">ПВ 219х2-Р-БП-3-У3</td>
            <td class="f10">603,5</td>
            <td class="f10">17,25</td>
            <td class="f10">3</td>
            <td class="f10">61</td>
            <td class="f10">159</td>
            <td class="f10">133</td>
            <td class="f10">2220х923х335</td>
            <td class="f10">602,0</td>
        </tr>
        <tr>
            <td class="f10">27</td>
            <td class="f8">ПВ 219х4-Р-БП-2-У3</td>
            <td class="f10">736,5</td>
            <td class="f10">23,02</td>
            <td class="f10">2</td>
            <td class="f10">61</td>
            <td class="f10">159</td>
            <td class="f10">133</td>
            <td class="f10">4220х654х335</td>
            <td class="f10">640,0</td>
        </tr>
        <tr>
            <td class="f10">28</td>
            <td class="f8">ПВ 219х4-Р-БП-3-У3</td>
            <td class="f10">1105,0</td>
            <td class="f10">34,53</td>
            <td class="f10">3</td>
            <td class="f10">61</td>
            <td class="f10">159</td>
            <td class="f10">133</td>
            <td class="f10">4220х923х335</td>
            <td class="f10">980,0</td>
        </tr>
        <tr>
            <td class="f10">29</td>
            <td class="f8">ПВ 273х2-Р-БП-2-У3</td>
            <td class="f10">719,5</td>
            <td class="f10">20,56</td>
            <td class="f10">2</td>
            <td class="f10">109</td>
            <td class="f10">219</td>
            <td class="f10">159</td>
            <td class="f10">2394х761х405</td>
            <td class="f10">610,7</td>
        </tr>
        <tr>
            <td class="f10">30</td>
            <td class="f8">ПВ 273х2-Р-БП-3-У3</td>
            <td class="f10">1079,0</td>
            <td class="f10">30,84</td>
            <td class="f10">3</td>
            <td class="f10">109</td>
            <td class="f10">219</td>
            <td class="f10">159</td>
            <td class="f10">2294х1084х405</td>
            <td class="f10">905,0</td>
        </tr>
        <tr>
            <td class="f10">31</td>
            <td class="f8">ПВ 273х4-Р-БП-2-У3</td>
            <td class="f10">1318,0</td>
            <td class="f10">41,20</td>
            <td class="f10">2</td>
            <td class="f10">109</td>
            <td class="f10">219</td>
            <td class="f10">159</td>
            <td class="f10">4294х761х405</td>
            <td class="f10">970,0</td>
        </tr>
        <tr>
            <td class="f10">32</td>
            <td class="f8">ПВ 273х4-Р-БП-3-У3</td>
            <td class="f10">1973,5</td>
            <td class="f10">61,68</td>
            <td class="f10">3</td>
            <td class="f10">109</td>
            <td class="f10">219</td>
            <td class="f10">159</td>
            <td class="f10">4254х1084х405</td>
            <td class="f10">1420,0</td>
        </tr>
        <tr>
            <td class="f10">33</td>
            <td class="f8">ПВ 325х2-Р-БП-2-У3</td>
            <td class="f10">997,0</td>
            <td class="f10">28,49</td>
            <td class="f10">2</td>
            <td class="f10">151</td>
            <td class="f10">273</td>
            <td class="f10">219</td>
            <td class="f10">2346х854х460</td>
            <td class="f10">775,0</td>
        </tr>
        <tr>
            <td class="f10">34</td>
            <td class="f8">ПВ 325х2-Р-БП-3-У3</td>
            <td class="f10">1495,5</td>
            <td class="f10">42,73</td>
            <td class="f10">3</td>
            <td class="f10">151</td>
            <td class="f10">273</td>
            <td class="f10">219</td>
            <td class="f10">2346х854х460</td>
            <td class="f10">1085,0</td>
        </tr>
        <tr>
            <td class="f10">35</td>
            <td class="f8">ПВ 325х4-Р-БП-2-У3</td>
            <td class="f10">1810,0</td>
            <td class="f10">56,08</td>
            <td class="f10">2</td>
            <td class="f10">151</td>
            <td class="f10">273</td>
            <td class="f10">219</td>
            <td class="f10">4346х854х460</td>
            <td class="f10">1235,0</td>
        </tr>
        <tr>
            <td class="f10">36</td>
            <td class="f8">ПВ 325х4-Р-БП-3-У3</td>
            <td class="f10">2735,0</td>
            <td class="f10">85,47</td>
            <td class="f10">3</td>
            <td class="f10">151</td>
            <td class="f10">273</td>
            <td class="f10">219</td>
            <td class="f10">4346х1229х460</td>
            <td class="f10">1830,0</td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<p>Пример условного обозначения при заказе ПВ 76 х 2-1, О-БП-2-У3<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ПВ - подогреватель водяной;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    76 - наружный диаметр корпуса, мм;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    2 - длина секций, м;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Р - условные давления рабочей среды:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    1) 0,6 МПа (6 кгс/см<sup>2</sup>);<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    2) 1,0 МПа (10 кгс/см<sup>2</sup>);<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    3) 1,6 МПа (16 кгс/см<sup>2</sup>);<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    БП - подогреватель блочного типа с профилировнными трубками;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    2 - количество секций в блоке, шт.;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    У3 - климатическое исполнение (умеренное) ГОСТ 15150</p>
<br>
<p>Примечания:<br>
    1. Тепловой поток блока секций определен при скорости нагреваемой воды в трубках - 1 м/сек; расход воды в межтрубном
    пространстве равен расходу в
    трубном пространстве, перепад температур по нагреваемой и греющей воде - 45<sup>o</sup>С.<br>
    2. Подогреватель эффективно работает в системах теплоснабжения при скоростях:<br>
    - в трубном пространстве от 0,5 до 1,5 м/сек;<br>
    - в межтрубном пространстве от 0,5 до 1 м/сек;<br>
    3. Масса указана на блоки с условным давлением 1,0 МПа (10 кгс/см<sup>2</sup>).<br>
    4. При необходимости длина секций в блоке может отличаться от указанных
    в
    таблице и принимается в соответствии с проектом.<br>
    5. Габаритные размеры и масса блоков могут отличаться от данных таблицы на +/-10 %.
</p>
