<h1>Грязевики абонентские (трубопроводов теплосети)</h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Грязевики предназначены для очистки воды от взвешенных частиц грязи и других примесей в системах водяного
    отопления с температурой теплоносителя до 150<sup>o</sup>С и рабочим давлением до 1,0 МПа (10 кгс/см<sup>2</sup>).
    Устанавливается в элеваторных узлах, тепловых вводах зданий различного назначения и котельных.</p>

<p class="f16">Грязевик вертикальный</p>

<p><img style="width: 299px; height: 308px;" src="images/dynamic/clip_image001_gif.png" alt="Грязевик вертикальный"></p>
<br>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Основные параметры и технические характеристики</p>
<br>

<div>
    <table class="table table-striped f10">
        <thead>
            <tr>
                <th rowspan="2">Диаметр условный Ду, мм</th>
                <th rowspan="2">Диаметр наружный Дн, мм</th>
                <th colspan="4">Грязевик горизонтальный</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Длина L, мм</td>
                <td>Высота Н, мм</td>
                <td>Давление Ру, кг/см<sup>2</sup></td>
                <td>Масса, кг</td>
            </tr>
            <tr>
                <td>40</td>
                <td>108</td>
                <td>308</td>
                <td>217</td>
                <td rowspan="8">10/16</td>
                <td>16,83</td>
            </tr>
            <tr>
                <td>50</td>
                <td>159</td>
                <td>359</td>
                <td>259</td>
                <td>29,18</td>
            </tr>
            <tr>
                <td>80</td>
                <td>219</td>
                <td>419</td>
                <td>369</td>
                <td>48,87</td>
            </tr>
            <tr>
                <td>100</td>
                <td>273</td>
                <td>473</td>
                <td>421</td>
                <td>70,01</td>
            </tr>
            <tr>
                <td>125</td>
                <td>273</td>
                <td>473</td>
                <td>441</td>
                <td>71,51</td>
            </tr>
            <tr>
                <td>150</td>
                <td>325</td>
                <td>526</td>
                <td>563</td>
                <td>103,34</td>
            </tr>
            <tr>
                <td>200</td>
                <td>426</td>
                <td>626</td>
                <td>669</td>
                <td>184,08</td>
            </tr>
            <tr>
                <td>250</td>
                <td>529</td>
                <td>730</td>
                <td>785</td>
                <td>296,24</td>
            </tr>
        </tbody>
    </table>
</div>

<br>

<p class="f16">Грязевик горизонтальный</p>

<p><img style="width: 413px; height: 276px;" src="images/dynamic/clip_image002_gif.png"
        alt="Грязевик горизонтальный"></p>
<br>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Основные параметры и технические характеристики</p>
<br>

<div>
    <table class="table table-striped f10">
        <thead>
            <tr>
                <th rowspan="2">Диаметр условный Ду, мм</th>
                <th rowspan="2">Диаметр наружный Дн, мм</th>
                <th colspan="4">Грязевик горизонтальный</th>
            </tr>
            <tr>
                <th>Длина L, мм</th>
                <th>Высота Н, мм</th>
                <th>Давление Ру, кг/см<sup>2</sup></th>
                <th>Масса, кг</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>150</td>
                <td>273</td>
                <td>1082</td>
                <td>470</td>
                <td rowspan="3">10/16</td>
                <td>123,5</td>
            </tr>
            <tr>
                <td>200</td>
                <td>325</td>
                <td>1390</td>
                <td>570</td>
                <td>189,3</td>
            </tr>
            <tr>
                <td>250</td>
                <td>426</td>
                <td>1485</td>
                <td>650</td>
                <td>236</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
   