<!DOCTYPE html>
<html ng-app="armiksApp" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Армикс-2000</title>
    <link rel="stylesheet" href="scripts/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animations.min.css">
    <link rel="stylesheet" href="css/site.min.css">
</head>
<body ng-controller="MainCtrl">
    <div class="wrap">
        <header class="navbar navbar-bright navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/test" class="navbar-brand">Армикс-2000</a>
                </div>
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="menu in menus | filter: { istopmenu: true, level: 0 }">
                            <a href="#{{ menu.path }}">{{ menu.name }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="masthead">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <h1>Армикс-2000
                            <p class="lead">Теплотехническое и котельное оборудование</p>
                        </h1>
                    </div>
                    <div class="col-sm-3">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-sm-12"><span style="font-weight: bold;">Наши координаты</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    тел.: (495) 768-03-89 <br>
                                    тел/факс: (495)926-76-50 <br>
                                    <a href="mailto:info@armiks.ru?subject=from_web_page">info&#64;armiks.ru</a> <br>
                                    <a href="http://armiks.ru">http://armiks.ru</a> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /cont -->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3" id="leftCol">

                    <ul class="nav nav-stacked" id="sidebar">
                        <li ng-repeat="menu in menus | filter: { issidemenu: true }"
                            class="base-class"
                            ng-class="{'active': isCurPath('{{ menu.path }}')}">
                            <a href="#{{ menu.path }}" >{{ menu.name }}</a>
                        </li>
                        <!-- class="list-group-item" ng-class="{'active': isCurPath('{{ menu.path }}')}" -->
                    </ul>

                </div>
                <div class="col-sm-9">
                    <!-- Здесь начинается текст блоков -->
                    <div ng-view class="slide-reveal"></div>
                    <!-- Конец текст блоков -->
                </div>


            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <p class="text-muted credit">&copy Армикс-2000</p>
        </div>
    </footer>

    <script src="scripts/lib/jquery/jquery-2.0.3.min.js"></script>
    <script src="scripts/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="scripts/lib/angular/angular.min.js"></script>
    <script src="scripts/lib/angular/angular-route.min.js"></script>
    <script src="scripts/lib/angular/angular-animate.min.js"></script>

    <script src="scripts/app/app.min.js"></script>
    <script src="scripts/app/MainCtrl.min.js"></script>
    <script src="scripts/modules/about/AboutCtrl.min.js"></script>
    <script src="scripts/modules/price/PriceCtrl.min.js"></script>
    <script src="scripts/modules/contacts/ContactsCtrl.min.js"></script>
    <script src="scripts/modules/vent/VentCtrl.min.js"></script>
    <script src="scripts/modules/boilers/BoilersCtrl.min.js"></script>

</body>
</html>