<h1>Холодильник отбора проб двухточечный диаметром 133 мм</h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Холодильник отбора проб предназначен для отбора проб пара и воды, необходимых для периодического контроля за
    водно-химическим режимом паровых и водогрейных котлов, а также систем отопления и гор.водоснабжения.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Охлаждаемая вода поступает в змеевик сверху и отводится снизу через соответствующие патрубки. Охлаждающая вода
    подается снизу через входной патрубок, омывает змеевик и отводится из холодильника через сливной патрубок.</p>

<p><img style="width: 187px; height: 436px;" alt="" src="images/dynamic/image002_jpg.png">&nbsp;
    <img style="width: 187px; height: 139px;" alt="" src="images/dynamic/image004_jpg.png"></p>

<p>Общий вид холодильника двухточечного: I - вход пробы (сверху); II - выход пробы (снизу).
    1 - патрубок подвода охлаждающей воды; 2 - змеевик; 3 - донышко; 4 – кольцо резиновое;
    5 - корпус; 6 - направляющая труба; 7 - крышка; 8 - гайка; 9 - патрубок отвода охлаждающей воды.
</p>

<p>Основные параметры и технические характеристики</p>

<table class="table table-striped f10">
    <tbody>
    <tr>
        <td>Максимальное давление пробы, МПа (кгс/см<sup>2</sup>)</td>
        <td>4,0 (40)</td>
    </tr>
    <tr>
        <td>Давление охлаждающей воды, МПа (кгс/см<sup>2</sup>)</td>
        <td>0,1 (1,0)</td>
    </tr>
    <tr>
        <td>Сечение змеевика для прохода пробы, мм<sup>2</sup></td>
        <td>28,3</td>
    </tr>
    <tr>
        <td>Сечение трубы для прохода охлаждающей воды, мм<sup>2</sup></td>
        <td>125</td>
    </tr>
    <tr>
        <td>Масса, кг</td>
        <td>25,9</td>
    </tr>
    </tbody>
</table>
