<h1>Деаэраторы атмосферные ДА</h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Деаэраторы предназначены для удаления коррозионно-агрессивных газов (кислорода и
    свободной углекислоты) из питательной воды паровых котлов и подпиточной воды системы
    теплоснабжения и горячего водоснабжения при одновременном ее нагреве.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Деаэратор состоит из деаэраторного бака, деаэрационной колонки и гидрозатвора.
    Деаэраторный бак представляет собой горизонтальный цилиндрический сосуд с эллиптическими
    днищами и патрубками входа и выхода рабочей среды, трубопроводов для подключения и арматуры.
    Деаэратор установлен на опорах, одна из которых неподвижная. На баке размещена деаэрационная
    колонка, которая представляет собой цилиндрическую обечайку с эллиптическим днищем, с патрубками
    для подвода и отвода рабочей среды. Для обеспечения безопасной эксплуатации деаэратора
    предусмотрено предохранительное устройство - гидрозатвор, защищающий его от опасного превышения
    давления и уровня воды в баке.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    В деаэраторах применена двухступенчатая схема дегазации: первая - струйная,
    вторая - барботажная.</p>

<table class="table table-striped">
    <tbody>
        <tr>
            <td><p><img style="width: 437px; height: 290px;" src="images/dynamic/clip_image006_gif.png"
                        alt="Деаэратор атмосферного давления ДА"></p>

                <p>Внешний вид деаэратора ДА (колонка КДА и бак БДА)</p>
            </td>
            <td><p>Деаэратор атмосферного давления:</p>

                <p>I - колонка деаэрационная;<br>
                    II - бак деаэраторный;<br>
                    III - опора подвижная;<br>
                    IV - опора неподвижная;<br>
                    1 - подвод пара на гидрозатвор;<br>
                    2 - выход пара;<br>
                    3 - рециркуляция питательных насосов;<br>
                    4 - перегретый конденсат;<br>
                    5 - подвод пара от сепаратора непрерывной продувки;<br>
                    6 - подвод основного пара;<br>
                    7 - отвод деаэрированной воды;<br>
                    8 - подвод конденсата от подогревателей;<br>
                    9 - подвод химически очищенной воды;<br>
                    10 - подвод конденсата от производства;<br>
                    11 - дренаж;<br>
                    12 - перелив.</p>
            </td>
        </tr>
    </tbody>
</table>

<p>Основные параметры и технические характеристики</p>

<table class="table table-striped f10">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>ДА-5</td>
            <td>ДА-15</td>
            <td>ДА-25</td>
            <td>ДА-50</td>
            <td>ДА-100</td>
        </tr>
        <tr>
            <td>Ном. производительность, т/ч</td>
            <td>5</td>
            <td>15</td>
            <td>25</td>
            <td>50</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Диапазон изменения производи- тельности, %</td>
            <td colspan="5">30 - 120</td>
        </tr>
        <tr>
            <td>Давление рабочее, МПа (кгс/см2)</td>
            <td colspan="5">0,12 (1,2)</td>
        </tr>
        <tr>
            <td>Максим. допустимое давление при работе предохранительного устройства, МПа (кгс/см2)</td>
            <td colspan="5">0,17 (1,7)</td>
        </tr>
        <tr>
            <td>Температура деаэрирования воды, <sup>o</sup>С</td>
            <td colspan="5">104,25</td>
        </tr>
        <tr>
            <td>Нагрев воды в деаэраторе, <sup>o</sup>С:</td>
            <td colspan="5">-</td>
        </tr>
        <tr>
            <td>-максимальный</td>
            <td colspan="5">50</td>
        </tr>
        <tr>
            <td>-минимальный</td>
            <td colspan="5">10</td>
        </tr>
        <tr>
            <td>Начальное содержание растворенного кислорода в деаэрируемой (исходной) воде, мг/кг</td>
            <td colspan="5">3</td>
        </tr>
        <tr>
            <td>Остаточное содержание растворенного кислорода в деаэрированной воде, мкг/кг</td>
            <td colspan="5">20</td>
        </tr>
        <tr>
            <td>Содержание свободной углекислоты в деаэрируемой (исходной) воде, мг/кг</td>
            <td colspan="5">20</td>
        </tr>
        <tr>
            <td>Содержание свободной углекислоты в деаэрированной воде</td>
            <td colspan="5">Следы</td>
        </tr>
        <tr>
            <td>Диаметр деаэрационной колонки, мм</td>
            <td>512</td>
            <td>512</td>
            <td>512</td>
            <td>720</td>
            <td>1016</td>
        </tr>
        <tr>
            <td>Полезная вместимость деаэраторного бака, м<sup>3</sup></td>
            <td>2</td>
            <td>4</td>
            <td>8</td>
            <td>15</td>
            <td>25</td>
        </tr>
        <tr>
            <td>Площадь поверхности охладителя выпара, м<sup>2</sup></td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Габаритные размеры деаэратора, мм</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Длина</td>
            <td>2680</td>
            <td>4100</td>
            <td>4705</td>
            <td>5650</td>
            <td>7505</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td>1212</td>
            <td>1212</td>
            <td>1616</td>
            <td>2016</td>
            <td>2216</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td>3640</td>
            <td>3760</td>
            <td>3690</td>
            <td>4350</td>
            <td>4570</td>
        </tr>
        <tr>
            <td>Масса, кг</td>
            <td>2020</td>
            <td>2260</td>
            <td>3100</td>
            <td>4990</td>
            <td>8300</td>
        </tr>
    </tbody>
</table>


<p>Принципиальная схема включения деаэрационной установки атмосферного давления:</p>
<p><img style="width: 636px; height: 374px;" alt="" src="images/dynamic/clip_image007_gif.png"></p>

<ol>
    <li>подвод химочищенной воды</li>
    <li>охладитель выпара</li>
    <li>выхлоп в атмосферу</li>
    <li>клапан егулировки уровня</li>
    <li>выхлоп в атмосферу</li>
    <li>колонка</li>
    <li>подвод основного конденсата</li>
    <li>предохранительное устройство</li>
    <li>деаэрационный бак</li>
    <li>подвод деаэрированной воды</li>
    <li>манометр</li>
    <li>клапан регулировки давления</li>
    <li>подвод горячего пара</li>
    <li>отвод деаэрированной воды</li>
    <li>охладитель проб воды</li>
    <li>указатель уровня</li>
    <li>дренаж</li>
    <li>мановакууметр</li>
</ol>


<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Комплектация деаэраторов ДА:</p>

<table class="table table-striped f10">
    <tbody>
        <tr>
            <td>Деаэратор</td>
            <td>Колонка, т/ч</td>
            <td>Бак, м3</td>
            <td>Предохранитель (гидрозатвор)</td>
            <td>Охладитель выпара</td>
        </tr>
        <tr style="height: 17pt;">
            <td>ДА-5/2</td>
            <td>КДА-5</td>
            <td>БДА-2</td>
            <td>ДА-25</td>
            <td>ОВА-2</td>
        </tr>
        <tr>
            <td>ДА-15/4</td>
            <td>КДА-15</td>
            <td>БДА-4</td>
            <td>ДА-25</td>
            <td>ОВА-2</td>
        </tr>
        <tr>
            <td>ДА-25/8</td>
            <td>КДА-25</td>
            <td>БДА-8</td>
            <td>ДА-25</td>
            <td>ОВА-2</td>
        </tr>
        <tr>
            <td>ДА-50/15</td>
            <td>КДА-50</td>
            <td>БДА-15</td>
            <td>ДА-50</td>
            <td>ОВА-2</td>
        </tr>
        <tr>
            <td>ДА-100/25</td>
            <td>КДА-100</td>
            <td>БДА-25</td>
            <td>ДА-100</td>
            <td>ОВА-8</td>
        </tr>
    </tbody>
</table>