<h1>Фильтры осветлительные ФОВ</h1>

<p class="f16">Фильтры осветлительные вертикальные однокамерные ФОВ</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Осветлительные фильтры предназначены для удаления из воды взвешенных примесей разной
    степени дисперсности и широко применяются в схемах водоподготовительных установок электростанций,
    промышленных и отопительных котельных. Осветление воды происходит в результате прилипания к
    зернам фильтрующего материала грубодисперсных примесей воды, которые задерживаются на
    поверхности и в порах фильтрующего материала. В качестве фильтрующих материалов применяются
    дробленый антрацит, кварцевый песок, мраморная крошка и другие, обладающие необходимой химической
    стойкостью и прочностью (измельчаемостью не более 4%, истираемостью не более 0,5%).</p>

<div>
    <p><img style="width: 154px; height: 260px;" src="images/dynamic/clip_image004_gif.png"
            alt="Фильтры осветлительные вертикальные однокамерные ФОВ">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img style="width: 133px; height: 260px;" src="images/dynamic/clip_image005_gif.png"
             alt="Фильтры осветлительные вертикальные однокамерные ФОВ"></p>


    <p>Основные параметры и технические характеристики:</p>
    <table class="table table-striped f10">
        <thead>
            <tr>
                <th>Обозначение</th>
                <th>Производи-<br>тельность,<br>м<sup>3</sup>/ч</th>
                <th>Рабочее<br>давление,<br>МПа</th>
                <th>Условный<br>диаметр<br>фильтра, мм</th>
                <th>Высота<br>фильтрующей<br>загрузки, мм,<br>не более</th>
                <th>Высота фильтра, мм</th>
                <th>Масса фильтра, кг</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ФОВ-1,0-0,6</td>
                <td>10</td>
                <td rowspan="5">0,6</td>
                <td>1000</td>
                <td>1000</td>
                <td>3100</td>
                <td>950</td>
            </tr>
            <tr>
                <td>ФОВ-1,4-0,6</td>
                <td>16</td>
                <td>1400</td>
                <td>1000</td>
                <td>3120</td>
                <td>1562</td>
            </tr>
            <tr>
                <td>ФОВ-1,5-0,6</td>
                <td>23</td>
                <td>1600</td>
                <td>1000</td>
                <td>3298</td>
                <td>1468</td>
            </tr>
            <tr>
                <td>ФОВ-2,0-0,6</td>
                <td>30</td>
                <td>2000</td>
                <td>1000</td>
                <td>3430</td>
                <td>2150</td>
            </tr>
            <tr>
                <td>ФОВ-2,6-0,6</td>
                <td>50</td>
                <td>2600</td>
                <td>1000</td>
                <td>3730</td>
                <td>3690</td>
            </tr>
        </tbody>
    </table>
</div>