<h1 xmlns="http://www.w3.org/1999/html">Подогреватель сетевой воды типа ПСВ</h1>

<table class="table table-striped">
    <tbody>
    <tr>
        <td><img alt="" style="width: 404px; height: 427px;" src="images/dynamic/clip_image013_gif.png"></td>
        <td><p>Подогреватели сетевой воды типа ПСВ предназначены для подогрева воды для отопительных,
            производственных
            и бытовых нужд. ПСВ представляет собой кожухотрубный теплообменник вертикального типа, состоящий из
            корпуса,
            трубной системы с латунными трубками 19х1, верхней и нижней (плавающей) водяной камеры. </p>
        </td>
        <td>
            <table class="table table-striped f10">
                <tbody>
                <tr>
                    <td>Обозначение</td>
                    <td>Наименование</td>
                </tr>
                <tr>
                    <td>А</td>
                    <td>Вход сетевой воды</td>
                </tr>
                <tr>
                    <td>Б</td>
                    <td>Выход сетевой воды</td>
                </tr>
                <tr>
                    <td>В</td>
                    <td>Вход пара</td>
                </tr>
                <tr>
                    <td>Г</td>
                    <td>Подвод конденсата</td>
                </tr>
                <tr>
                    <td>Д</td>
                    <td>Выход конденсата</td>
                </tr>
                <tr>
                    <td>Е</td>
                    <td>Отсос воздуха</td>
                </tr>
                <tr>
                    <td>Ж</td>
                    <td>Слив воды</td>
                </tr>
                <tr>
                    <td>К</td>
                    <td>к дифманометру</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<p>Основные параметры и технические характеристики:</p>

<table class="table table-striped f10">
    <tbody>
    <tr>
        <td rowspan="2">Марка<br>подогревателя</td>
        <td rowspan="2">Пов-ть теплообмена, м<sup>2</sup></td>
        <td colspan="2">Рабочее избыт. давление, кгс/см<sup>2</sup></td>
        <td rowspan="2">Номина-льный расход сетевой воды, т/ч</td>
        <td rowspan="2">Кол-во ходов сетевой воды</td>
        <td colspan="2">Габариты</td>
        <td rowspan="2">Масса, кг</td>
        <td rowspan="2">Расчетная теплопроизводительность,<br>Гкал/ч</td>
    </tr>
    <tr>
        <td>пара в корпусе</td>
        <td>воды в трубной системе</td>
        <td>диаметр, Dн, мм</td>
        <td>высота,H, мм</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-45-7-15</td>
        <td>45</td>
        <td>7</td>
        <td>15</td>
        <td>90</td>
        <td>4</td>
        <td>720</td>
        <td>4840</td>
        <td>2273</td>
        <td>7,2</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-63-7-15</td>
        <td>63</td>
        <td>7</td>
        <td>15</td>
        <td>120</td>
        <td>4</td>
        <td>816</td>
        <td>5112</td>
        <td>2946</td>
        <td>9,6</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-90-7-15</td>
        <td>90</td>
        <td>7</td>
        <td>15</td>
        <td>175</td>
        <td>4</td>
        <td>1020</td>
        <td>5432</td>
        <td>4202</td>
        <td>14,0</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-125-7-15</td>
        <td>125</td>
        <td>7</td>
        <td>15</td>
        <td>250</td>
        <td>4</td>
        <td>1020</td>
        <td>5432</td>
        <td>4553</td>
        <td>20,0</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-200-7-15</td>
        <td>200</td>
        <td>7</td>
        <td>15</td>
        <td>400</td>
        <td>4</td>
        <td>1232</td>
        <td>5724</td>
        <td>7444</td>
        <td>32,5</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-315-3-23</td>
        <td>315</td>
        <td>3</td>
        <td>23</td>
        <td>725</td>
        <td>2</td>
        <td>1524</td>
        <td>7700</td>
        <td>12306</td>
        <td>56,5</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-315-14-23</td>
        <td>315</td>
        <td>14</td>
        <td>23</td>
        <td>1130</td>
        <td>2</td>
        <td>1544</td>
        <td>7524</td>
        <td>13650</td>
        <td>45,2</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-500-3-23</td>
        <td>500</td>
        <td>3</td>
        <td>23</td>
        <td>1150</td>
        <td>2</td>
        <td>1624</td>
        <td>7920</td>
        <td>14650</td>
        <td>52,5</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;ПСВ-500-14-23</td>
        <td>500</td>
        <td>14</td>
        <td>23</td>
        <td>1800</td>
        <td>2</td>
        <td>1624</td>
        <td>7920</td>
        <td>16032</td>
        <td>75,0</td>
    </tr>
    </tbody>
</table>


