<h1>Теплообменники водоводяные (5 - 10 т/ч; 20 - 40 т/ч; 80-240 т/ч; 400 т/ч;)</h1>

<p class="f16">1. Теплообменники водоводяные Q=5-10 т/ч; Q=20-40 т/ч;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Теплообменники общего назначения изготовляются на массовые расходы нагреваемой воды 5-10,
    20-40 т/ч и используются для подогрева подаваемой на фильтры химводоочистки воды за счет
    использования тепла продувочной воды паровых котлов и других горячих дренажей. В отдельных
    случаях они также используются для нагрева сетевой воды в небольших по мощности системах
    теплоснабжения.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Теплообменники представляют собой горизонтальный аппарат с жестким закреплением трубных досок.
    Основными его узлами являются корпус, трубный пучок, две водяные камеры - распределительная
    и поворотная. В корпусе установлены горизонтальная и вертикальная перегородки, которые
    расположены между передней и задней трубными решетками и образуют четыре хода воды в межтрубном
    пространстве. Трубный пучок состоит из прямых латунных трубок, концы трубок развальцованы в
    трубных досках.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Водяные камеры состоят из эллиптического (плоского) днища, обечайки, плоского фланца и
    перегородок. Передняя распределительная камера имеет входной и выходной патрубки для воды.
    Камера крепится болтами к трубной решетке.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Схема движения теплоносителей - противоточная. Греющая вода поступает в корпус, омывает наружную
    поверхность трубок, отдавая нагреваемой воде теплоту, и отводится из корпуса.</p>

<p>Основные параметры и технические характеристики:</p>

<table class="table table-striped f10">
    <thead>
    <tr>
        <th rowspan="2">Наименование показателя</th>
        <th colspan="2">Расход нагреваемой воды<br>в расчетном режиме, т/ч</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Q=5-10</td>
        <td>Q=20-40</td>
    </tr>
    <tr>
        <td>Площадь поверхности теплообмена по наружному диаметру труб, м<sup>2</sup></td>
        <td>1,6</td>
        <td>5,6</td>
    </tr>
    <tr>
        <td>
            Рабочие параметры по греющей воде:<br>
            &nbsp; - давление, МПа (кгс/см<sup>2</sup>)<br>
            &nbsp; - температура на входе, <sup>o</sup>С<br>
            &nbsp; - температура на выходе, <sup>o</sup>С<br>
            по нагреваемой воде:<br>
            &nbsp; - давление, МПа (кгс/см<sup>2</sup>)<br>
            &nbsp; - температура на входе, <sup>o</sup>С<br>
            &nbsp; - температура на выходе, <sup>o</sup>С
        </td>
        <td>
            <br>
            0,02 (0,2)<br>
            104,2<br>
            60<br><br>
            0,7 (7,0)<br>
            40<br>
            50
        </td>
        <td>
            <br>
            0,02 (0,2)<br>
            104,2<br>
            60<br>
            <br>
            0,7 (7,0)<br>
            40<br>
            50
        </td>
    </tr>
    <tr>
        <td>Пробное гидравлическое давление в трубном и межтрубном
            пространствах, МПа (кгс/см<sup>2</sup>)
        </td>
        <td>1,0 (10)</td>
        <td>1,0 (10)</td>
    </tr>
    <tr>
        <td>
            Массовый расход воды в расчетном режиме, т/ч:<br>
            &nbsp; - греющей<br>
            &nbsp; - нагреваемой
        </td>
        <td>
            <br>
            2,5<br>
            10
        </td>
        <td>
            <br>
            10<br>
            40
        </td>
    </tr>
    <tr>
        <td>Число ходов воды в трубной системе:</td>
        <td>4</td>
        <td>4</td>
    </tr>
    <tr>
        <td>
            Размер трубки, мм:<br>
            &nbsp; - диаметр<br>
            &nbsp; - толщина стенок<br>
            &nbsp; - длина
        </td>
        <td>
            <br>
            16<br>
            1<br>
            1700
        </td>
        <td>
            <br>
            16<br>
            1<br>
            1400
        </td>
    </tr>
    <tr>
        <td>Количество трубок:</td>
        <td>40</td>
        <td>84</td>
    </tr>
    <tr>
        <td>Масса теплообменника (без воды) , т</td>
        <td>0,126</td>
        <td>0,275</td>
    </tr>
    </tbody>
</table>

<br><br>
<p><img style="width: 550px; height: 281px;" src="images/dynamic/clip_image015_gif.png"
        alt="Схема теплообменника"></p>

<br>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Основные присоединительные и габаритные размеры (мм):</p>

<table class="table table-striped f10">
    <thead>
    <tr>
        <th>
            Массовый расход<br>
            нагреваемой воды, т/ч
        </th>
        <th>Dн</th>
        <th>б</th>
        <th>б1</th>
        <th>C</th>
        <th>C1</th>
        <th>C2</th>
        <th>C3</th>
        <th>C4</th>
        <th>С5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>5-10</td>
        <td>159</td>
        <td>7</td>
        <td>10</td>
        <td>2020</td>
        <td>1694</td>
        <td>130</td>
        <td>250</td>
        <td>1150</td>
        <td>100</td>
    </tr>
    <tr>
        <td>20-40</td>
        <td>273</td>
        <td>9</td>
        <td>14</td>
        <td>1754</td>
        <td>1394</td>
        <td>160</td>
        <td>150</td>
        <td>800</td>
        <td>120</td>
    </tr>
    </tbody>
</table>
<br>

<table class="table table-striped f10">
    <thead>
    <tr>
        <th>Массовый расход<br>нагреваемой воды, т/ч</th>
        <th>C6</th>
        <th>d</th>
        <th>a</th>
        <th>b</th>
        <th>H</th>
        <th>H1</th>
        <th>H2</th>
        <th>И</th>
        <th>М</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>5-10</td>
        <td>190</td>
        <td>120</td>
        <td>135</td>
        <td>120</td>
        <td>635</td>
        <td>120</td>
        <td>136</td>
        <td>260</td>
        <td>350</td>
    </tr>
    <tr>
        <td>20-40</td>
        <td>230</td>
        <td>120</td>
        <td>180</td>
        <td>195</td>
        <td>695</td>
        <td>195</td>
        <td>180</td>
        <td>260</td>
        <td>350</td>
    </tr>
    </tbody>
</table>
<br>


<p class="f16">2. Теплообменники водоводяные Q =80-240 т/ч; Q=400 т/ч</p>

<p><img style="width: 330px; height: 139px;" src="images/dynamic/clip_image010_jpg.png"
        alt="Теплообменник водоводяной"></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Теплообменники предназначены для нагрева химически очищенной воды за счет использования тепла
    продувочной воды паровых котлов.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Теплообменники могут также использоваться для нагрева воды на теплоразборных пунктах (отопление,
    горячее водоснабжение).
    <br>
    <br>
</p>

<p>Основные параметры и технические характеристики:</p>

<table class="table table-striped f10">
    <thead>
    <tr>
        <th rowspan="2">Наименование показателя</th>
        <th colspan="2">Тип теплообменника</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Q=80-240</td>
        <td>Q=400</td>
    </tr>
    <tr>
        <td>Поверхность теплообмена, м<sup>2</sup></td>
        <td>21</td>
        <td>31,2</td>
    </tr>
    <tr>
        <td>
            Параметры греющей воды:<br>
            &nbsp; - расход, т/ч<br>
            &nbsp; - давление, МПа (кгс/см<sup>2</sup>)<br>
            &nbsp; - температура на входе, <sup>o</sup>C<br>
            &nbsp; - температура на выходе, <sup>o</sup>C
        </td>
        <td>
            <br>
            50<br>
            0,12 (1,2)<br>
            104<br>
            60
        </td>
        <td>
            <br>
            80<br>
            0,12 (1,2)<br>
            104<br>
            60
        </td>
    </tr>
    <tr>
        <td>Максимальная температура греющей воды, <sup>o</sup>С</td>
        <td>160</td>
        <td>160</td>
    </tr>
    <tr>
        <td>Максимальное давление греющей воды, МПа (кгс/см<sup>2</sup>)</td>
        <td>0,78 (8)</td>
        <td>0,78 (8)</td>
    </tr>
    <tr>
        <td>
            Параметры нагреваемой воды:<br>
            &nbsp; - расход, т/ч<br>
            &nbsp; - давление, МПа (кгс/см<sup>2</sup>)<br>
            &nbsp; - температура на входе, <sup>o</sup>C<br>
            &nbsp; - температура на выходе, <sup>o</sup>C
        </td>
        <td>
            <br>
            240<br>
            0,78 (8)<br>
            40<br>
            48
        </td>
        <td>
            <br>
            400<br>
            0,78 (8)<br>
            40<br>
            48
        </td>
    </tr>
    <tr>
        <td>Максимальное давление нагреваемой воды, МПа (кгс/см<sup>2</sup>)</td>
        <td>0,78 (8)</td>
        <td>0,78 (8)</td>
    </tr>
    <tr>
        <td>
            Габариты, мм<br>
            &nbsp; - диаметр корпуса<br>
            &nbsp; - длина
        </td>
        <td>
            <br>
            478<br>
            2065
        </td>
        <td>
            <br>
            478<br>
            2665
        </td>
    </tr>
    <tr>
        <td>Масса, кг</td>
        <td>640</td>
        <td>784</td>
    </tr>
    </tbody>
</table>
