<h1>Фильтры натрий-катионитные ФИПа</h1>

<p class="f16">Фильтры натрий-катионитовые 1-ой и 2-ой ступени</p>

<p><img style="width: 300px; height: 381px;" src="images/dynamic/clip_image003_gif.png"
        alt="Фильтры натрий-катионитовые 1-ой и 2-ой ступени" align="left">
    Фильтры ионитные параллельноточные первой ступени используются на водоподготовительных установках
    элек-тростанций, промышленных и отопительных котельных и предназначены для обработки воды с целью
    удаления из нее катионов накипеобразователей ( Ca2+ и Mg2+ ) в процессе натрий-водород- или
    аммоний-натрий-катио-нирования, а также сульфатных, хлоридных и нитратных анионов в процессе обессоливания
    природных вод. </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Фильтры ионитные параллельноточные второй ступени предназначены для работы в различных схемах установок
    глубокого и полного химического обессоливания для второй и третьей ступени натрий-катионирования,
    водород-катионирования и анионирования и используются на водоподготовительных установках электростанций,
    промышленных и отопительных котельных. При исполь-зовании данных фильтров в схемах глубокого
    обессоливания из воды удаляются практически все катионы и анионы, за исключением кремниевой кислоты, а
    при использовании в схемах полного химического обессоливания удаляется и кремниевая кислота.</p>

<p>Основные параметры и технические характеристики</p>
<table class="table table-striped f10">
    <thead>
        <tr>
            <th>Обозначение<br>типоразмера</th>
            <th>Производительность,<br>м<sup>3</sup>/ч</th>
            <th>Рабочее давление, МПа</th>
            <th>Условный диаметр фильтра, мм</th>
            <th>Высота фильтрующей<br>загрузки, мм,<br>не более</th>
            <th>Высота фильтра, мм</th>
            <th>Масса, кг</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ФИПа I-0,7-0,6 Na</td>
            <td>10</td>
            <td>0,6</td>
            <td>700</td>
            <td>2000</td>
            <td>3445</td>
            <td>910</td>
        </tr>
        <tr>
            <td>ФИПа I-1,0-0,6 Na</td>
            <td>23</td>
            <td>0,6</td>
            <td>1000</td>
            <td>2000</td>
            <td>3610</td>
            <td>1090</td>
        </tr>
        <tr>
            <td>ФИПа I-1,4-0,6 Nа</td>
            <td>46</td>
            <td>0,6</td>
            <td>1400</td>
            <td>2000</td>
            <td>3928</td>
            <td>1240</td>
        </tr>
        <tr>
            <td>ФИПа I-1,5-0,6 Nа</td>
            <td>50</td>
            <td>0,6</td>
            <td>2000</td>
            <td>2000</td>
            <td>3800</td>
            <td>1570</td>
        </tr>
        <tr>
            <td>ФИПа I-2,0-0,6 Na</td>
            <td>80</td>
            <td>0,6</td>
            <td>2000</td>
            <td>2500</td>
            <td>4630</td>
            <td>2500</td>
        </tr>
        <tr>
            <td>ФИПа I-2,6-0,6 Na</td>
            <td>130</td>
            <td>0,6</td>
            <td>2600</td>
            <td>2500</td>
            <td>4950</td>
            <td>3890</td>
        </tr>
        <tr>
            <td>ФИПа II-1,0-0,6 Na</td>
            <td>40</td>
            <td>0,6</td>
            <td>1000</td>
            <td>1500</td>
            <td>3100</td>
            <td>950</td>
        </tr>
        <tr>
            <td>ФИПа II-1,4-0,6 Na</td>
            <td>92</td>
            <td>0,6</td>
            <td>1400</td>
            <td>1500</td>
            <td>3120</td>
            <td>1562</td>
        </tr>
        <tr>
            <td>ФИПа II-1,5-0,6 Na</td>
            <td>90</td>
            <td>0,6</td>
            <td>1600</td>
            <td>1500</td>
            <td>3200</td>
            <td>1510</td>
        </tr>
        <tr>
            <td>ФИПа II-2,0-0,6 Na</td>
            <td>150</td>
            <td>0,6</td>
            <td>2000</td>
            <td>1500</td>
            <td>3430</td>
            <td>22028</td>
        </tr>
        <tr>
            <td>ФИПа II-2,6-0,6 Na</td>
            <td>250</td>
            <td>0,6</td>
            <td>2600</td>
            <td>1500</td>
            <td>3805</td>
            <td>33800</td>
        </tr>
    </tbody>
</table>
<br>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Загрузка ионитных фильтров ФИПа - сульфоуголь, катионит Ку-2;</p>
