<h1>Фильтры мазута ФМ</h1>

<p><img style="width:330px;height:297px;border:0;" src="images/dynamic/clip_image012_jpg.png"
        alt="Фильтр мазута ФМ. ФМ 25-30-40(5)"></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Фильтры мазута типа ФМ предназначены для грубой и тонкой очистки высоковязких топочных
    мазутов от твердого остатка нефтяных фракций и механических примесей. Устанавливаются в
    системах мазутного хозяйства промышленных и отопительных котельных.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Фильтры представляют собой вертикальный сварной цилиндрический сосуд с плоской крышкой,
    эллиптическим нижним днищем. На опорах имеются отверстия для фундаментных болтов. На
    корпусе установлены патрубки с фланцами для подвода и отвода мазута, подвода пара для
    продувки, слива мазута. Внутри корпуса, между крышкой и опорным кольцом, крепится болтами
    фильтрующий элемент, представляющий собой металлический каркас с натянутой по нему сеткой
    из нержавеющей проволоки. Чистка фильтрующего элемента производится периодически на
    остановленном фильтре паром и задержанные фракции удаляются через специальный патрубок без
    разборки фильтра. Фильтры мазута не подлежат ведению органов Госгортехнадзора.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    1. Основные параметры и технические характеристики фильтров мазута ФМ 25-30-65 (240)</p>

<table class="table table-striped f10">
    <tbody>
        <tr>
            <td>Наименование показателя</td>
            <td>ФМ 25-30-65<br>(грубая&nbsp;очистка)</td>
            <td>ФМ 25-30-240<br>(тонкая&nbsp;очистка)</td>
        </tr>
        <tr>
            <td>Производительность, т/ч</td>
            <td>30</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Допускаемое рабочее давление, МПа</td>
            <td>2,5</td>
            <td>2,5</td>
        </tr>
        <tr>
            <td>Температура среды, <sup>o</sup>С</td>
            <td>60-200</td>
            <td>60-200</td>
        </tr>
        <tr>
            <td>Площадь поверхности фильтрации, м<sup>2</sup></td>
            <td>0,315</td>
            <td>0,315</td>
        </tr>
        <tr>
            <td>Количество отверстий на 1 см<sup>2</sup> фильтрующей сетки, шт</td>
            <td>65</td>
            <td>240</td>
        </tr>
        <tr>
            <td>Гидравлическое сопротивление чистого фильтра, МПа, не более</td>
            <td>0,010</td>
            <td>0,015</td>
        </tr>
        <tr>
            <td>Размер ячейки в фильтрующем элементе, мм</td>
            <td>0,9x0,9</td>
            <td>0,4x0,4</td>
        </tr>
        <tr>
            <td>Габаритные размеры, мм:<br>&nbsp; - диаметр корпуса <br>&nbsp; - высота</td>
            <td colspan="2"><br>219<br>1370</td>
        </tr>
        <tr>
            <td>Масса, кг</td>
            <td colspan="2">107</td>
        </tr>
    </tbody>
</table>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Пример условного обозначения: ФМ 25-30-65(240), где: </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ФМ - фильтр мазута </p>


<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    25 - рабочее давление, кгс/см<sup>2</sup></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    30 - производительность по мазуту, т/час </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    65(240) – кол-во отверстий на 1 см<sup>2</sup> фильтрующей сетки </p>


<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    2. Основные параметры и технические характеристики </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    фильтров ФМ 25-30, ФМ 40-30, ФМ 10-60, ФМ 10-120, ФМ 10-240</p>


<table class="table table-striped f10">
    <tbody>
        <tr>
            <td>Тип фильтра</td>
            <td>P раб. кгс/см<sup>2</sup></td>
            <td>Произв. т/ч</td>
            <td>Поверхн.<br>фильтрац. м<sup>2</sup></td>
            <td>V<br>фильт. м<sup>3</sup></td>
            <td>t<br>мазута, <sup>o</sup>С</td>
            <td>d,мм</td>
            <td>H,мм</td>
            <td>Масса, кг</td>
        </tr>
        <tr>
            <td>ФМ-25-30-40(5)</td>
            <td>25</td>
            <td>30</td>
            <td>0,315</td>
            <td>0,07</td>
            <td>130</td>
            <td>325</td>
            <td>1330</td>
            <td>126</td>
        </tr>
        <tr>
            <td>ФМ-40-30-40(5)</td>
            <td>40</td>
            <td>30</td>
            <td>0,315</td>
            <td>0,079</td>
            <td>130</td>
            <td>325</td>
            <td>1330</td>
            <td>129</td>
        </tr>
        <tr>
            <td>ФМ-10-60-40(5)</td>
            <td>10</td>
            <td>60</td>
            <td>0,51</td>
            <td>0,158</td>
            <td>130</td>
            <td>426</td>
            <td>1670</td>
            <td>248</td>
        </tr>
        <tr>
            <td>ФМ-10-120-40(5)</td>
            <td>10</td>
            <td>120</td>
            <td>1,22</td>
            <td>0,45</td>
            <td>130</td>
            <td>630</td>
            <td>1980</td>
            <td>447</td>
        </tr>
        <tr>
            <td>ФМ-10-240-40(5)</td>
            <td>10</td>
            <td>240</td>
            <td>1,95</td>
            <td>0,95</td>
            <td>130</td>
            <td>820</td>
            <td>2375</td>
            <td>810</td>
        </tr>
    </tbody>
</table>

<p>
    <img style="width:350px;height:432px;border:0;" src="images/dynamic/clip_image013_jpg.png"
         alt="Схема фильтра мазута ФМ. ФМ 40-30-40"></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Присоединительные размеры фильтра мазута ФМ:</p>

<table class="table table-striped f10">
    <tbody>
        <tr>
            <td>Тип фильтра</td>
            <td>Вход<br>мазута, мм</td>
            <td>Выход мазута, мм</td>
            <td>Вход проду-вочного пара, мм</td>
            <td>Выход конденсата, мм</td>
            <td>Слив мазута, мм</td>
        </tr>
        <tr>
            <td>ФМ-25-30-40(5)</td>
            <td>100</td>
            <td>100</td>
            <td>25</td>
            <td>50</td>
            <td>25</td>
        </tr>
        <tr>
            <td>ФМ-40-30-40(5)</td>
            <td>100</td>
            <td>100</td>
            <td>25</td>
            <td>50</td>
            <td>25</td>
        </tr>
        <tr>
            <td>ФМ-10-60-40(5)</td>
            <td>150</td>
            <td>150</td>
            <td>25</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>ФМ-10-120-40(5)</td>
            <td>200</td>
            <td>200</td>
            <td>25</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>ФМ-10-240-40(5)</td>
            <td>250</td>
            <td>250</td>
            <td>25</td>
            <td>50</td>
            <td>50</td>
        </tr>
    </tbody>
</table>


<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Пример условного обозначения: ФМ-25-30-5(40), где: </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ФМ - фильтр мазута</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    25 - рабочее давление, кгс/см<sup>2</sup></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    30 - производительность по мазуту, т/час</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    5(40) - сетка, имеющая 5 отверстий (грубой очистки) или 40 отверстий (тонкой очистки) на 1 см<sup>2</sup></p>