<h1>Экономайзер чугунный блочный ЭБ</h1>

<table class="table table-striped f10">
    <tr>
        <td>
            <img style="width:301px;height:314px;border:0;" src="images/clip_image016_jpg.png"
                 alt="Схема экономайзера ЭБ">
        </td>
        <td>
            <img style="width:276px;height:201px;border:0;" src="images/clip_image017_jpg.png"
                 alt="Экономайзер ЭБ чугунный блочный">
        </td>
    </tr>
</table>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Экономайзеры чугунные блочные предназначены для нагревания питательной воды в
    паровых и водогрейных стационарных котлах типа ДЕ, КЕ, ДКВР с рабочим давлением
    до 2,4 МПа.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Экономайзеры состоят из пакетов труб с оребрением, соединенных между собой и
    заключенных в каркас с теплоизоляционной обшивкой. </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Движение питательной воды в трубах, составляющих общую поверхность нагрева, -
    навстречу потоку дымовых газов. Применение чугуна в поверхностях нагрева и
    соединительных деталях значительно увеличивает срок службы по сравнению со стальными
    экономайзерами. Для очистки поверхности нагрева используется паровая (П) или газоимульсная (И) очистка. </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Экономайзеры ЭБ2-94И – ЭБ2-236И поставляются одним блоком, ЭБ1-300И и ЭБ1-330И –
    двумя блоками, ЭБ1-646И и ЭБ1-808И – тремя блоками.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Основные параметры и технические характеристики :</p>

<table class="table table-striped f10">
    <tbody>
    <tr>
        <td rowspan="2">Параметры</td>
        <td colspan="8">Тип экономайзера</td>
    </tr>
    <tr>
        <td>ЭБ2-94И</td>
        <td>ЭБ2-142И</td>
        <td>ЭБ2-200И</td>
        <td>ЭБ2-236И</td>
        <td>ЭБ1-З00И</td>
        <td>ЭБ1-З30И</td>
        <td>ЭБ1-646И</td>
        <td>ЭБ1-808И</td>
    </tr>
    <tr>
        <td>Поверхность нагрева, м<sup>2</sup></td>
        <td>94,4</td>
        <td>141,6</td>
        <td>201,6</td>
        <td>236,0</td>
        <td>302,4</td>
        <td>330,4</td>
        <td>646,0</td>
        <td>808,0</td>
    </tr>
    <tr>
        <td>Число колонок</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Длина экомайзерной трубы, м</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>3</td>
        <td>3</td>
    </tr>
    <tr>
        <td>t воды, мин. <sup>o</sup>С вх/вых</td>
        <td>100/140</td>
        <td>100/140</td>
        <td>100/140</td>
        <td>100/140</td>
        <td>100/140</td>
        <td>100/140</td>
        <td>100/170</td>
        <td>100/160</td>
    </tr>
    <tr>
        <td>Номинальный расход воды, т/ч</td>
        <td>4,4</td>
        <td>7,15</td>
        <td>7,15</td>
        <td>11,0</td>
        <td>11,0</td>
        <td>17,6</td>
        <td>27,5</td>
        <td>27,5</td>
    </tr>
    <tr>
        <td>Масса, кг</td>
        <td>4000</td>
        <td>5290</td>
        <td>7200</td>
        <td>8250</td>
        <td>10650</td>
        <td>11420</td>
        <td>19750</td>
        <td>24700</td>
    </tr>
    <tr>
        <td colspan="9">Импульсная камера</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;диаметр, мм</td>
        <td>159</td>
        <td>159</td>
        <td>159</td>
        <td>159</td>
        <td>219</td>
        <td>219</td>
        <td>219</td>
        <td>219</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Кол-во</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
    </tr>
    <tr>
        <td colspan="9">Тип короба (рекомендуемый)</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;топливо-газ,мазут</td>
        <td>01</td>
        <td>02</td>
        <td>03</td>
        <td>03</td>
        <td>07</td>
        <td>07</td>
        <td>-</td>
        <td>10</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;топливо-кам.уголь</td>
        <td>04</td>
        <td>05</td>
        <td>06</td>
        <td>06</td>
        <td>08</td>
        <td>08</td>
        <td>09 / 10</td>
        <td>-</td>
    </tr>
    <tr>
        <td colspan="9">Габариты (без имп.камеры и короба)</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;длина</td>
        <td>2530</td>
        <td>2530</td>
        <td>2530</td>
        <td>2530</td>
        <td>2530</td>
        <td>2530</td>
        <td>3530</td>
        <td>3530</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ширина</td>
        <td>870</td>
        <td>1180</td>
        <td>1485</td>
        <td>1785</td>
        <td>1178</td>
        <td>1328</td>
        <td>1620</td>
        <td>1620</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;высота</td>
        <td>1970</td>
        <td>1970</td>
        <td>1970</td>
        <td>1970</td>
        <td>3675</td>
        <td>3525</td>
        <td>3518</td>
        <td>4135</td>
    </tr>
    </tbody>
</table>
