<h1>Сепараторы непрерывной продувки</h1>


<p class="f16">Сепаратор непрерывной продувки Dу 300 мм</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Сепаратор непрерывной продувки циклонного типа, предназначен для разделения пароводяной смеси при продувке
    паровых котлов на пар и воду за счет действия центробежных сил, обусловленных тангенциальным вводом воды в
    сепаратор. К потребителю поступает пар высокой степени сухости. Как правило, расход продувочной воды на
    сепаратор составляет от 1% до 5% производительности котла.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Сепаратор представляет собой вертикальный цилиндрический сосуд с плоскими донышками, подводящим патрубком,
    паро- и водоотводящими патрубками, поплавковым регулятором, который автоматически поддерживает уровень воды.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Разделение пароводяной смеси происходит в средней части сепаратора. Пар, сохраняя вращательное движение,
    направляется в паровое пространство и отводится через патрубок, расположенный на верхнем днище. Вода,
    стекает по внутренней поверхности сепаратора в водяной объем и отводится через патрубок, расположенный в
    нижней части корпуса.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    На нижнем днище предусмотрен&nbsp; штуцер для отвода воды из сепаратора при его отключении и для
    периодического вывода из нижней части водяного объема шлама и загрязнений.</p>

<table class="table table-striped f10">
    <tr>
        <td><img src="images/dynamic/clip_image009_jpg.png" alt="66.jpg (31188 bytes)"
                                            style="border: 0px solid ; width: 241px; height: 279px;"></td>
        <td align="left">Сепаратор непрерывной продувки, Dу 300:<br>
1 — вход продувочной пароводяной смеси, Dу 150;<br>
2 — выход пара, Dу 80;<br>
3 — дренаж, Dу 15;<br>
  4 — выход от сепарированной воды, Dу 40;
        </td>
    </tr>
</table>

<p>Основные параметры и технические характеристики:</p>

<table class="table table-striped f10">
    <thead>
        <tr>
            <td>Обозначение и наименование </td>
            <td>Вместимость, м<sup>3</sup></td>
            <td>Рабочая среда </td>
            <td>Раб. давл., МПа </td>
            <td>Раб.температура, <sup>o</sup>С</td>
            <td>Диаметр наружный D, мм </td>
            <td>Высота Н, мм </td>
            <td>Масса, кг </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сепаратор непрерывной продувки, Dу 300</td>
            <td>0,15</td>
            <td>паро-водяная смесь </td>
            <td>0,06</td>
            <td>113</td>
            <td>325</td>
            <td>2210</td>
            <td>150</td>
        </tr>
    </tbody>
</table>
