<h1>Баки деаэраторные атмосферные БДА</h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Деаэраторные баки объемом 2; 4; 8; 15; 25 м<sup>3</sup> предназначены для использования в деаэраторах
    атмосферных ДА-5 - ДА-100. Баки имеют отверстие для установки деаэраторной колонки, все необходимые
    патрубки. Торцы бака выполняются коническими или эллиптическими. Рабочая среда - вода, пар.</p>

<p><img style="width: 500px; height: 353px;" src="images/dynamic/clip_image007_gif.png"
        alt="Баки деаэраторные атмосферные из углеродистой стали толщиной 8 мм"></p>

<p>Основные параметры и технические характеристики</p>


<table class="table table-striped f10">
    <thead>
        <tr>
            <th rowspan="2">Обозначение</th>
            <th rowspan="2">Объем, м<sup>3</sup></th>
            <th colspan="8">Размеры, мм.</th>
            <th rowspan="2">Масса, кг</th>
        </tr>
        <tr>
            <th>L<sub>0</sub></th>
            <th>L</th>
            <th>l</th>
            <th>L<sub>a</sub></th>
            <th>L<sub>1</sub></th>
            <th>l<sub>1</sub></th>
            <th>D</th>
            <th>H</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>БДА-2</td>
            <td>2</td>
            <td>2000</td>
            <td>1000</td>
            <td>500</td>
            <td>2680</td>
            <td>2390</td>
            <td>500</td>
            <td>1212</td>
            <td>800</td>
            <td>900</td>
        </tr>
        <tr>
            <td>БДА-4</td>
            <td>4</td>
            <td>3500</td>
            <td>2400</td>
            <td>550</td>
            <td>4100</td>
            <td>3890</td>
            <td>900</td>
            <td>1212</td>
            <td>800</td>
            <td>1250</td>
        </tr>
        <tr>
            <td>БДА-8</td>
            <td>8</td>
            <td>4000</td>
            <td>2870</td>
            <td>565</td>
            <td>4705</td>
            <td>4415</td>
            <td>1200</td>
            <td>1616</td>
            <td>990</td>
            <td>2400</td>
        </tr>
        <tr>
            <td>БДА-15</td>
            <td>15</td>
            <td>4800</td>
            <td>3460</td>
            <td>670</td>
            <td>5650</td>
            <td>5360</td>
            <td>1400</td>
            <td>2016</td>
            <td>1210</td>
            <td>3500</td>
        </tr>
        <tr>
            <td>БДА-25</td>
            <td>25</td>
            <td>6580</td>
            <td>4560</td>
            <td>1000</td>
            <td>7505</td>
            <td>7216</td>
            <td>1800</td>
            <td>2216</td>
            <td>1310</td>
            <td>5200</td>
        </tr>
    </tbody>
</table>