<h1>Колонки деаэрационные КДА</h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Деаэрационная колонка работает следующим образом : подлежащая деаэрации химочищенная вода
    подается по патрубку подвода ХВО на верхнюю распределительную тарелку, оттуда
    через отверстия струями стекает на промежуточную водосливную тарелку. Промежуточная водосливная
    тарелка устанавливается с целью увеличения времени пребывания струи воды в паровом пространстве
    струйного отсека, что способствует её большему нагреву. Вода в струйном отсеке нагревается потоком
    пара до температуры насыщения с небольшим недогревом порядка 1-1,5 <sup>o</sup>С. Одновременно
    происходит вентиляция струйного отсека. Основной нагрев и грубая деаэрация происходит в струйном отсеке.</p>


<p><img style="width: 550px; height: 359px;" src="images/dynamic/clip_image006_gif.png"
        alt="Принцип работы колонки деаэрационной ДА"></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Далее вода попадает в выхлопную часть паро-перепускного клапана, где дополнительно нагревается барботирующим
    её паром до температуры насыщения. Пароперепускной клапан предназначен для нагрева воды до температуры
    насыщения, перед входом её на барботажный лист и регулирования скорости пара в отверстиях
    барботажного листа (минимальная скорость рассчитывается таким образом, чтобы предотвратить провал жидкости
    через отверстия барботажного листа, максимальная - чтобы предотвратить унос жидкости с барботажного листа).
    Пароперепускной клапан работает следующим образом: при увеличении нагрузки деаэратора, разность давлений P1 и P2
    увеличивается, пароперепускной клапан приоткрывается, при этом увеличивается расход пара через
    паро-перепускной клапан помимо барботажного листа. Таким образом, паро-перепускной клапан поддерживает
    оптимальный расход пара через барботажный лист, открываясь и закрываясь в зависимости от перепада
    давления на нем. Необходимо отметить, что паро-перепускной клапан усовершенствован и выполнен такой
    конструкции, которая позволяет ему поддерживать оптимальные гидродинамические режимы барботажа на всем
    диапазоне нагрузок деаэратора. Проходя барботажный лист, вода, под воздействием пара, образует
    барботажный слой с интенсивной турбулизацией и максимальной поверхностью массообмена, где происходит
    окончательная деаэрация воды. Паровоздушная смесь выходит через патрубок выпара.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Конструктивные особенности деаэрационной колонки позволяют ей устойчиво работать, не снижая
    качество деаэрации, с низкой температурой воды на входе, а также при скачках давления и расхода
    воды в деаэраторе. Деаэрационная колонка надежна в эксплуатации, внутрикорпусные устройства доступны
    для обслуживания и ремонта.</p>

<p>Основные параметры и технические характеристики</p>
<table class="table table-striped f10">
    <thead>
        <tr>
            <th>Наименование изделия</th>
            <th>Среда</th>
            <th>P среды,<br>МПа</th>
            <th>t среды,<br><sup>o</sup>С</th>
            <th>Габаритные<br>размеры, мм</th>
            <th>Масса, кг</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Деаэрационная колонка КДА-5</td>
            <td rowspan="5">вода,<br>пар</td>
            <td rowspan="5">0,12</td>
            <td rowspan="5">104,2</td>
            <td>512x2100</td>
            <td>208,7</td>
        </tr>
        <tr>
            <td>Деаэрационная колонка КДА-15</td>
            <td>512x2250</td>
            <td>270,0</td>
        </tr>
        <tr>
            <td>Деаэрационная колонка КДА-25</td>
            <td>720x1790</td>
            <td>333,5</td>
        </tr>
        <tr>
            <td>Деаэрационная колонка КДА-50</td>
            <td>1016x2220</td>
            <td>647,0</td>
        </tr>
        <tr>
            <td>Деаэрационная колонка КДА-100</td>
            <td>1216x2220</td>
            <td>860,0</td>
        </tr>
    </tbody>
</table>