<h1>Гидрозатвор</h1>

<p><img style="width: 274px; height: 173px;" src="images/dynamic/clip_image008_gif.png" alt="Гидрозатвор"></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Для обеспечения безопасной эксплуатации деаэратора предусматривается предохранительное
    устройство - гидрозатвор, защищающий его от опасного превышения давления и уровня воды в баке.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Основные параметры и технические характеристики</p>

<div>
    <table class="table table-striped f10">
        <thead>
            <tr>
                <th>Обозначение</th>
                <th>P, МПа</th>
                <th>Среда</th>
                <th>Габариты (ДxШxВ), мм</th>
                <th>Масса, кг</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Гидрозатвор для ДА 5-25</td>
                <td>0,12</td>
                <td>вода, пар</td>
                <td>1460x495x5930</td>
                <td>183</td>
            </tr>
            <tr>
                <td>Гидрозатвор для ДА 50-100</td>
                <td>0,12</td>
                <td>вода, пар</td>
                <td>1500x495x5950</td>
                <td>297</td>
            </tr>
        </tbody>
    </table>
</div>
