<h1>Охладители выпара ОВА</h1>

<p><img style="width: 500px; height: 173px;" src="images/dynamic/clip_image008_gif.png"
        alt="Охладители выпара"></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Охладители выпара атмосферных деаэраторов (ОВА) предназначены для конденсации максимального
    количества пара из отводимой от деаэратора паро-газовой смеси (выпара) с утилизацией тепла.
    Охладители выпара состоят из горизонтального цилиндрического корпуса и размещенной в нем
    трубной системы. Химочищенная вода, проходит внутри трубок, нагревается и затем поступает в
    деаэрационную колонку. Парогазовая смесь (выпар) поступает в межтрубное пространство, где пар из нее
    практически полностью конденсируется. Оставшиеся газы отводятся в атмосферу, конденсат пара сливается в
    деаэратор.</p>

<p>Основные параметры и технические характеристики</p>

<table class="table table-striped f10">
    <thead>
    <tr>
        <th>Наименование изделия</th>
        <th>Пов-сть охладителя, м<sup>2</sup></th>
        <th>Давление, МПа</th>
        <th>Среда</th>
        <th>t среды,<br><sup>o</sup>С</th>
        <th>(ДxШxВ), мм</th>
        <th>Масса,<br>кг</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Охладитель выпара ОВА-2</td>
        <td>2</td>
        <td>в трубн. сист. 0,5;<br>в корп. 0,12</td>
        <td>вода,<br>пар</td>
        <td>в трубн. сист. 40-50;<br>в корп. 104,2</td>
        <td>1150<br>516<br>580</td>
        <td>229</td>
    </tr>
    <tr>
        <td>Охладитель выпара ОВА-8</td>
        <td>8</td>
        <td>в трубн. сист. 0,5;<br>в корп. 0,12</td>
        <td>вода,<br>пар</td>
        <td>в трубн. сист. 40-50;<br>в корп. 104,2</td>
        <td>2860<br>516<br>580</td>
        <td>355</td>
    </tr>
    </tbody>
</table>
