<h1>Солерастворители</h1>

<p class="f16">Солерастворители С-0,125-0,4; С-0,4-0,7; С-1,0-1,0</p>
     
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Солерастворители предназначены для приготовления регенерационных растворов поваренной соли и 
сульфата аммония для катионитных фильтров, а также для осветления регенерационных растворов
реагентов на водоподготовительных установках небольшой производительности промышленных и 
отопительных котельных.</p>

<p>Схема работы солерастворителя</p>

<p>
<img style="width: 70px; height: 116px;" alt="" src="images/dynamic/clip_image009_gif.png">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img style="width: 227px; height: 422px;" alt="" src="images/dynamic/clip_image010_gif.png">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img style="width: 123px; height: 172px;" alt="" src="images/dynamic/clip_image011_gif.png"></p>

<table class="table table-striped f10">
<tbody>
<tr>
<td>Обозначение</td>
        <td>Наименование штуцеров</td>
      </tr>
      <tr>
        <td>А</td>
        <td>Подвод воды для раствора соли</td>
      </tr>
      <tr>
        <td>Б</td>
        <td>Отвод раствора соли</td>
      </tr>
      <tr>
        <td>В</td>
        <td>Подвод воды на промывку</td>
      </tr>
      <tr>
        <td>Г</td>
        <td>Дренаж</td>
      </tr>
      <tr>
        <td>Д</td>
        <td>Гидровыгрузка фильтрующего материала</td>
      </tr>
      <tr>
        <td>Е</td>
        <td>Лючок для загрузки</td>
      </tr>
    </tbody>
  </table>
  
  <p>Основные параметры и технические характеристики</p>
  
  <table class="table table-striped f10">
  <tbody>
  <tr>
  <td>Обозначение</td>
        <td>С-0,125- 0,4</td>
        <td>С-0,4-0,7</td>
        <td>С-1,0-1,0</td>
      </tr>
      <tr>
        <td>Вместимость, м<sup>3</sup></td>
        <td>0,125</td>
        <td>0,4</td>
        <td>1,0</td>
      </tr>
      <tr>
        <td>Давление рабочее, МПа (кгс/см<sup>2</sup>)</td>
        <td colspan="3">0,6 (6)</td>
      </tr>
      <tr>
        <td>Температура, <sup>o</sup>С</td>
        <td colspan="3">40</td>
      </tr>
      <tr>
        <td>Площадь фильтрования, м<sup>2</sup></td>
        <td>0,134</td>
        <td>0,4</td>
        <td>0,8</td>
      </tr>
      <tr>
        <td>Среда</td>
        <td colspan="3">антрацит, вода, соль (NaCl)</td>
      </tr>
      <tr>
        <td>Диаметр аппарата, мм</td>
        <td>426</td>
        <td>720</td>
        <td>1020</td>
      </tr>
      <tr>
        <td>Высота аппарата, мм</td>
        <td>1230</td>
        <td>1650</td>
        <td>1800</td>
      </tr>
      <tr>
        <td>Масса, кг</td>
        <td>151</td>
        <td>238</td>
        <td>440</td>
      </tr>
    <tbody>
  </table> 
