<h1>Подогреватели пароводяные (ППВ – 25; Q – 50 т/ч; Q –100 т/ч; Q – 200 т/ч; Q – 400 т/ч)</h1>

<p class="f16">1. Подогреватель пароводяной ППВ-25</p>

<p><img style="width: 550px; height: 346px;" src="images/dynamic/clip_image014_gif.png"
        alt="Схема подогревателя"></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Предназначен для подогрева воды, поступающей на химводоочистку в отопительных, отопительно-производственных
    и производственных котельных. Представляет собой аппарат горизонтального типа, с неподвижными трубными
    решетками. Состоит из трубной системы, передней и задней крышек, арматуры и КИП. Греющий пар поступает
    в межтрубное пространство, разделенное горизонтальной перегородкой на две части, благодаря чему имеет два
    хода. Нагреваемая вода движется по трубам трубной системы и за счет перегородок в передней и задней крышках
    имеет четыре хода. Коррозионно-стойкие латунные теплообменные трубки повышают надежность работы подогревателя.
    Указатель уровня жидкости позволяет визуально наблюдать за уровнем конденсата в трубной системе, а
    термодинамический конденсатоотводчик служит для постоянного его отвода.</p>

<p>Основные параметры и технические характеристики:</p>
<div>
    <table class="table table-striped f10">
        <tbody>
            <tr>
                <td rowspan="2">Наиме-нование</td>
                <td rowspan="2">Среда</td>
                <td rowspan="2">P пар/вода, МПа</td>
                <td colspan="2">t&nbsp;среды,&nbsp;°С</td>
                <td rowspan="2">Поверхн. нагрева, м<sup>2</sup></td>
                <td colspan="4">Размеры, мм</td>
                <td rowspan="2">Масса, кг</td>
            </tr>
            <tr>
                <td>на&nbsp;вх</td>
                <td>на&nbsp;вых</td>
                <td>наруж. диам.</td>
                <td>длина</td>
                <td>ширина</td>
                <td>высота</td>
            </tr>
            <tr>
                <td>ППВ-25</td>
                <td>пар/вода</td>
                <td>0,2/0,6</td>
                <td>5</td>
                <td>43</td>
                <td>3,97</td>
                <td>273</td>
                <td>1345</td>
                <td>620</td>
                <td>820</td>
                <td>275</td>
            </tr>
        </tbody>
    </table>
</div>


<p class="f16">2. Подогреватели пароводяные Q=50 т/ч; Q=100 т/ч; Q=200 т/ч; Q=400</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Подогреватели пароводяные предназначены для нагрева химически очищенной воды за счет использования
    тепла греющего пара на тепловых электростанциях и котельных.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Подогреватели пароводяные могут также использоваться для нагрева воды на теплоразборных пунктах
    (отопление помещений, нагрев воды в бассейнах, душевых и т.п.).</p>

<div>
    <table class="table table-striped f10">
        <tbody>
            <tr>
                <td>Тип устройства</td>
                <td>Поверхность нагрева</td>
                <td>Давл.в греющей системе, МПа</td>
                <td>Давл.в греемой системе</td>
                <td>Темп. в греющей системе, <sup>o</sup>С</td>
                <td>Dm теплообменных труб, мм</td>
                <td>Диаметр корпуса, мм</td>
                <td>Длина, мм</td>
                <td>Масса, кг</td>
            </tr>
            <tr>
                <td>Q=50 т/ч</td>
                <td>8,4</td>
                <td>0,7</td>
                <td>0,7</td>
                <td>180</td>
                <td>16x1</td>
                <td>273</td>
                <td>2403</td>
                <td>330</td>
            </tr>
            <tr>
                <td>Q=100 т/ч</td>
                <td>15,6</td>
                <td>0,7</td>
                <td>0,7</td>
                <td>180</td>
                <td>16x1</td>
                <td>478</td>
                <td>1665</td>
                <td>560</td>
            </tr>
            <tr>
                <td>Q=200 т/ч</td>
                <td>31,2</td>
                <td>0,7</td>
                <td>0,7</td>
                <td>180</td>
                <td>16x1</td>
                <td>478</td>
                <td>2705</td>
                <td>794</td>
            </tr>
            <tr>
                <td>Q=400 т/ч</td>
                <td>68,0</td>
                <td>0,7</td>
                <td>0,7</td>
                <td>180</td>
                <td>16x1</td>
                <td>630</td>
                <td>3180</td>
                <td>1400</td>
            </tr>
        </tbody>
    </table>
</div>
